.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.header {
  background-color: rgb(17, 13, 21);
}
.introduction {
  background-color: rgb(87, 29, 79);
}
.services {
  background-color: rgb(204, 47, 120);
}
.faq {
  background-color: rgb(31, 213, 220);
}
.contactus {
  background-color: rgb(39, 38, 39);
}

.comingsoon {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.waiting {
  height: 50vh;
}

.containerday,
.containerhour,
.containerminute,
.containersecond {
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
