.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.header {
  background-color: rgb(36, 164, 138);
}
.introduction {
  background-color: rgb(218, 107, 34);
}
.services {
  background-color: rgb(41, 65, 202);
}
.faq {
  background-color: rgb(255, 91, 121);
}
.contactus {
  background-color: rgb(202, 65, 230);
}
